body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.overlay-desc {
  background: rgba(0, 0, 0, 0);
  display: flex;
  position: absolute;
}

.homeContainer {
  padding-bottom: 0px;
}

.homeImage {
  position: relative;
  float: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  border-radius: 5%;
}

h3 {
  font-family: sans-serif;
  padding-top: 10px;
  padding-bottom: 30px;
}

.stage-button {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 10px;
  display: inline-block;
  line-height: 1;
  color: rgb(24, 115, 201);
  border: 1px solid;
  cursor: pointer;
  text-decoration: none;
}

.object {
  position: absolute;
  transition: all 3s ease-in-out;
  -webkit-transition: all 3s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 3s ease-in-out; /** Firefox **/
  -o-transition: all 3s ease-in-out; /** Opera **/
}

.lambo {
  top: 30%;
  right: 1%;
}

.mclaren {
  top: 15%;
  left: 1%;
}

.ferrari {
  top: 50%;
  left: 1%;
}

.bugatti {
  top: 70%;
  right: 1%;
}

#axis:hover .move-right {
  transform: translate(400%, 0);
  -webkit-transform: translate(400%, 0);
  -o-transform: translate(400%, 0);
  -moz-transform: translate(400%, 0);
}

#axis:hover .move-left {
  transform: translate(-400%, 0);
  -webkit-transform: translate(-400%, 0);
  -o-transform: translate(-400%, 0);
  -moz-transform: translate(-400%, 0);
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #3c3d41;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
}

.homeImageAlternate {
  position: relative;
  float: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#carName {
  font-size: 30px;
  padding: 3%;
  text-align: left;
  word-spacing: 5px;
  font-family: sans-serif;
  font-weight: bold;
}

#carYear {
  padding: 3%;
  font-size: 20px;
  font-family: sans-serif;
}

h4 {
  font-family: sans-serif;
  padding-top: 10px;
  font-size: 30px;
}

#cartContainer {
  /* padding-top: 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: '75%';
  border-color: black;
  border-width: 10px;
}

#checkoutContainer {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: '75%';
  display: inline-block;
  text-align: center;
  padding-bottom: 150px;
}

#carImageCard {
  position: relative;
  float: left;
  width: 100%;
  height: 60%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#carDescription {
  padding: 3%;
  font-size: 15px;
  font-family: sans-serif;
}

#carquantity {
  font-size: 12px;
  font-family: sans-serif;
}

#carPrice {
  padding: 3%;
  font-size: 20px;
  font-family: sans-serif;
}

#carQuantity {
  padding: 3%;
  font-size: 20px;
  font-family: sans-serif;
}

#carButton {
  font-family: sans-serif;
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  /* text-decoration: none; */
  display: inline-block;
  font-size: 16px;
}

#singleCarButton {
  margin-bottom: 25px;
  /* text-decoration: none; */
}

/* #card { */
/* background-color: #525252; */
/* } */

#cartCard {
  /* background-color: #000000; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#allCars {
  /* height: 100%;
  width: 100%; */
  margin-left: 0.1em;
  margin-right: 0.1em;
  margin-top: 0.1em;
  /* background-color: #000000; */
}

#cardCardGrid {
  /* height: 100%;
  width: 100%; */
  margin-top: 0.1em;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

/*
h1.welcome {
  font-size: 30px;
  font-family: sans-serif;
  color: green;
  justify-content: center;
  text-align: center;
} */
h2 {
  color: white;
  font-family: 'Nobile', sans-serif;
  font-size: 3vw;
  text-align: center;
  padding-top: 25px;
  padding-left: 30px;
}

.ui.menu {
  margin: 0;
  /* z-index: -1;
  position: relative; */
}

.loginForm {
  margin-top: 50px;
}

.StripeElement {
  width: 70%;
  float: right;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.example.example3 {
  background-color: #525f7f;
  padding: 100px 250px
}

.example.example3 * {
  font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.example.example3 .fieldset {
  margin: 0 15px 30px;
  padding: 0;
  border-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.example.example3 .field {
  padding: 10px 20px 11px;
  background-color: #7488aa;
  border-radius: 20px;
  width: 100%;
}

.example.example3 .field.half-width {
  width: calc(50% - (5px / 2));
}

.example.example3 .field.third-width {
  width: calc(33% - (5px / 3));
}

.example.example3 .field + .field {
  margin-top: 6px;
}

.example.example3 .field.focus,
.example.example3 .field:focus {
  color: #424770;
  background-color: #f6f9fc;
}

.example.example3 .field.invalid {
  background-color: #fa755a;
}

.example.example3 .field.invalid.focus {
  background-color: #f6f9fc;
}

.example.example3 .field.focus::-webkit-input-placeholder,
.example.example3 .field:focus::-webkit-input-placeholder {
  color: #cfd7df;
}

.example.example3 .field.focus::-moz-placeholder,
.example.example3 .field:focus::-moz-placeholder {
  color: #cfd7df;
}

.example.example3 .field.focus:-ms-input-placeholder,
.example.example3 .field:focus:-ms-input-placeholder {
  color: #cfd7df;
}

.example.example3 input, .example.example3 button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.example.example3 input {
  color: #fff;
}

.example.example3 input::-webkit-input-placeholder {
  color: #9bacc8;
}

.example.example3 input::-moz-placeholder {
  color: #9bacc8;
}

.example.example3 input:-ms-input-placeholder {
  color: #9bacc8;
}

.example.example3 button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 0 15px;
  background-color: #fcd669;
  border-radius: 20px;
  color: #525f7f;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.example.example3 button:active {
  background-color: #f5be58;
}

.example.example3 .error svg .base {
  fill: #fa755a;
}

.example.example3 .error svg .glyph {
  fill: #fff;
}

.example.example3 .error .message {
  color: #fff;
}

.example.example3 .success .icon .border {
  stroke: #fcd669;
}

.example.example3 .success .icon .checkmark {
  stroke: #fff;
}

.example.example3 .success .title {
  color: #fff;
}

.example.example3 .success .message {
  color: #9cabc8;
}

.example.example3 .success .reset path {
  fill: #fff;
}
